tr td {
    text-align: left;
    color: #666666;
    padding: 0px 50px 10px 0px;
    border-bottom: 1px solid #EEEEEE;
}

td.column-icons {
    padding-right: 20px !important;
}

td i {
    color: #666666;
    padding-right: 10px;
    transition: background-color 0.2s;
}

td i:hover {
    color: #545454;
}